* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(./assets/hero\ image.jpg);
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: relative;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: auto;
}

.nav_logo img {
    height: 100px;
    max-width: 148px;
    color: red;
    position: relative;
    z-index: 10;
}

.nav_buttons {
    position: relative;
    z-index: 10;
}

.hero_section {
    height: 100%;
    width: 100%;
    opacity: 0.90;
    position: absolute;
    top: 0;
    background: radial-gradient(transparent 0%, #000000a1 25%, black 100%);
}

.nav_buttons button {
    padding: 6px 18px;
    background: #c81515;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0px 15px;
    font-size: 15px;
}

select {
    padding: 6px 36px;
    background: transparent;
    color: white;
    font-size: 15px;
    border-radius: 2px;
}

.main .hero_msg {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100%;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    width: 100%;
}

.hero_msg h1 {
    font-size: 3rem;
    font-weight: 900;
}

.hero_msg h2 {
    margin: 16px 0 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero_msg p {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
}

.input_btn {
    max-width: 50.625rem;
    width: 100%;
    text-align: center;
    margin: 1rem 0 0;
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 12px 20px 10px;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    max-width: 36.625rem;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
}

button {
    padding: 8px 20px 10px;
    font-size: 1.5rem;
    background-color: #d80f0f;
    color: white;
    border: none;
    border-radius: 5px;
}

.input2 {
    display: flex;
    margin: 1rem auto 0;
    width: 70%;
}

.input2 button {
    padding: 0px 0px 0px;
    font-size: 20px;
    background-color: #d80f0f;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    width: 55%;
    font-weight: 700;
    font-family: sans-serif;
}

.sepration {
    height: 8px;
    background-color: #343434;
}

section.\31 st_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 78vw;
    margin: auto;
    padding: 72px 0;
}

.sec1_para {
    color: white;
    font-family: sans-serif;
}

.sec1_para h1 {
    font-size: 48px;
}

.sec1_para h3 {
    font-size: 24px;
    margin: 16px 0 0;
}

.sec1_img {
    height: 438px;
    width: 585px;
    position: relative;
    top: 0;
}

.sec1_img video {
    position: absolute;
    top: 97px;
    right: 20px;
}

.sec1_img img {
    position: relative;
    z-index: 10;
}

section.\31 st_sec.reverse {
    display: flex;
    flex-direction: row-reverse;
    max-width: 82vw;
}

.reverse .sec1_img {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
}

.sec3video video {
    position: absolute;
    top: 35px;
    right: 50px;
    height: 220px;
    width: 435px;
}

section.last_content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: sans-serif;
    padding: 72px;
    max-width: calc(83.33333333333334% - 6rem);
}

.bar .box {
    height: 50px;
    color: white;
    width: 100%;
    margin: 10px 0px;
    background-color: #2a2828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    border: none;
}

.bar {
    width: 100%;
    padding: 1.5rem 0 0;
}

.heading h1 {
    font-size: 48px;
    font-weight: 800;
}

.iteams {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.95rem 0;
}

.footer_iteam {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.footer_iteam a {
    color: #ffffffb3;
    margin: 16px 0 0 0px;
    font-size: 14px;
}

footer {
    margin: 72px 126px;
    padding: 0 48px 0;
    font-family: sans-serif;
}

.foot_call {
    color: #ffffffb3;
    /* display: flex; */
    justify-content: flex-start;
    /* max-width: 67vw; */
    /* margin: auto; */
}

.foot_call a {
    color: #ffffffb3;
}

.foot_call.net {
    margin: 24px 0 0;
}


@media screen and (min-width: 1024px) and (max-width: 1600px) {
    .nav_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 95%;
        margin: auto;
    }

    .main {
        background-image: url("./assets/hero image.jpg");
        height: 43.75rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        position: relative;
    }

    .hero_msg h1 {
        font-size: 2.8rem;
        font-weight: 900;
    }

    .sec1_img {
        height: 415px;
        width: 477px;
        position: relative;
        top: 0;
    }

    .sec1_img img {
        position: relative;
        z-index: 10;
        height: 357px;
        width: 476px;
    }

    .sec1_img video {
        position: absolute;
        top: 72px;
        right: 67px;
        width: 350px;
        height: 199px;
    }

    section.\31 st_sec {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 87vw;
        margin: auto;
        padding: 72px 0;
    }

    .sec1_para h3 {
        font-size: 24px;
        margin: 16px 0 0;
        font-weight: 200;
    }

    .sec3video video {
        position: absolute;
        top: 16px;
        right: 90px;
        width: 300px;
        height: 190px;
    }

    .reverse .sec1_img {
        height: 357px;
        width: 477px;
        position: relative;
        top: 0;
    }

    footer {
        margin: 72px 50px 38px 0px;
        padding: 0 48px 0;
        font-family: sans-serif;
    }
}

@media screen and (min-width: 776px) and (max-width: 1024px) {
    .nav_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: auto;
    }

    .main {
        background-image: url("./assets/hero image.jpg");
        height: 43.75rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        position: relative;
    }

    .main .hero_msg {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        height: 100%;
        font-family: sans-serif;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .hero_msg h1 {
        font-size: 2.0rem;
        font-weight: 900;
    }

    section.\31 st_sec {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 78vw;
        margin: auto;
        padding: 72px 0;
        flex-direction: column;
    }

    .sec1_para {
        color: white;
        font-family: sans-serif;
        text-align: center;
    }

    .sec1_para h1 {
        font-size: 40px;
    }

    .sec1_para h3 {
        font-size: 20px;
        margin: 16px 0 0;
    }

    section.\31 st_sec.reverse {
        display: flex;
        flex-direction: column;
        max-width: 82vw;
    }

    section.last_content {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-family: sans-serif;
        /* padding: 72px; */
        max-width: calc(86.333333% - 6rem);
    }

    .heading h1 {
        font-size: 35px;
        font-weight: 800;
    }

    .input2 button {
        padding: 0px 0px 0px;
        font-size: 16px;
        background-color: #d80f0f;
        color: white;
        border: none;
        border-radius: 5px;
        margin: 0 10px;
        width: 55%;
        font-weight: 700;
        font-family: sans-serif;
    }

    footer {
        margin: 72px 30px;
        padding: 0 15px 0;
        font-family: sans-serif;
    }
}

@media screen and (min-width: 360px) and (max-width: 776px){
    .nav_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 95%;
        margin: auto;
    }
    .nav_logo img {
        height: 70px;
        max-width: 110px;
        color: red;
        position: relative;
        z-index: 10;
    }
    select {
        padding: 6px 30px;
        background: transparent;
        color: white;
        font-size: 14px;
        border-radius: 2px;
    }
    .nav_buttons button {
        padding: 6px 15px;
        background: #c81515;
        color: white;
        border: none;
        border-radius: 5px;
        margin: 0px 10px;
        font-size: 15px;
    }
    .main {
        background-image: url("./assets/hero image.jpg");
        height: 35rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        position: relative;
    }
    .hero_msg h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .hero_msg h2 {
        margin: 16px 0 0;
        font-size: 1.0rem;
        font-weight: 400;
    }

    .hero_msg p {
        font-size: 1.0rem;
        line-height: 1.5;
        font-weight: 400;
    }

    .input2 button {
        padding: 0px 0px 0px;
        font-size: 13px;
        background-color: #d80f0f;
        color: white;
        border: none;
        border-radius: 5px;
        margin: 0 10px;
        width: 85%;
        font-weight: 700;
        font-family: sans-serif;
    }

    section.\31 st_sec {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 78vw;
        margin: auto;
        padding: 72px 0;
        flex-direction: column;
    }

    .sec1_para {
        color: white;
        font-family: sans-serif;
        text-align: center;
    }

    .sec1_para h1 {
        font-size: 32px;
    }

    .sec1_para h3 {
        font-size: 18px;
        margin: 16px 0 0;
        font-weight: 100;
    }

    .sec1_img {
        height: 342px;
        width: 380px;
        position: relative;
        top: 0;
    }

    .sec1_img img {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
    }

    .sec1_img video {
        position: absolute;
        top: 36px;
        right: 2px;
        width: 328px;
        height: 256px;
    }

    section.\31 st_sec.reverse {
        display: flex;
        flex-direction: column;
        max-width: 82vw;
    }

    .sec1_para {
        color: white;
        font-family: sans-serif;
        text-align: center;
    }

    .sec1_para h1 {
        font-size: 24px;
    }

    .sec1_para h3 {
        font-size: 14px;
        margin: 16px 0 0;
        font-weight: 100;
    }
    .sec3video video {
        position: absolute;
        top: 34px;
        right: 52px;
        width: 280px;
        height: 140px;
    }

    section.last_content {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-family: sans-serif;
        padding: 30px;
        max-width: calc(96.333333% - 5rem);
    }
    .heading h1 {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .bar .box {
        height: 50px;
        color: white;
        margin: 10px 0px;
        background-color: #2a2828;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        font-size: 16px;
        border: none;
    }
    .input2 {
        display: flex;
        margin: 1rem auto 0;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input[type="text"] {
        padding: 12px 20px 10px;
        font-size: 1rem;
        line-height: 1.5;
        width: 100%;
        background: transparent;
        border: 1px solid white;
        border-radius: 5px;
        max-width: 30.625rem;
        position: relative;
        color: rgba(255, 255, 255, 0.7);
        background: rgba(22, 22, 22, 0.7);
        border-color: rgba(128, 128, 128, 0.7);
        margin: 5px;
    }
    .input2 button {
        padding: 12px;
        font-size: 15px;
        background-color: #d80f0f;
        color: white;
        border: none;
        border-radius: 5px;
        width: 62%;
        font-weight: 700;
        font-family: sans-serif;
        margin: 7px;
    }

    footer {
        margin: 72px 10px;
        padding: 0 20px 0;
        font-family: sans-serif;
    }

    .iteams {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0.95rem 0;
        flex-wrap: wrap;
    }
    
    
        
}